
.info {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    position: relative;
    left: 0;
    max-width: 1200px;
    margin: calc(100vh - 100px) auto 0;
}

.info .blueBanner {
    width: 100%;
    background-color: var(--theme-color);
    left: 0;
    transform: skewY(-5deg);
    margin-top: 6%;
    box-shadow: rgba(0,0,0,0.5) inset 0 10px 10px -10px;
    font-family: 'Open Sans', sans-serif;
    height: 400px;
    overflow: hidden;
}

.info #blueBanner1 {
    height: 1000px;
    width: 200vw;
    margin-left: -100vw;
    margin-top: 240px;
}

.info #blueBanner2 {
    box-shadow: none;
    height: 390px;
    width: 200vw;
    margin-left: -100vw;
    margin-top: 400px;
}

.info #blueBanner3 {
    box-shadow: none;
    height: 1500px;
    z-index: -1;
    background: rgb(50,124,203);
    background: linear-gradient(180deg, rgba(50,124,203,1) 0%, rgba(50,124,203,1) 35%, rgba(50,124,203,0.45281862745098034) 100%);
    width: 200vw;
    margin-left: -100vw;
    margin-top: 410px;
}

.info .lightBlueBanner {
    background-color: #03A9F4;
}

.info .content {
    color: white;
    font-size: 2.5em;
    font-weight: 600;
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: -1155px auto 0;
}

.info .title {
    margin-bottom: 30px;
    display: none;
}

.info .section {
    font-size: 1em;
    font-weight: 200;
}

.info .section.white {
    color: var(--theme-color);
}

.info .number {
    display: inline-block;
    font-size: 35vw;
    padding: 1%;
    vertical-align: bottom;
    line-height: 370px;
}

.info .text {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 400;
}

.info .section.white .text {
    color: black;
}

.info .text .subtext {
    font-size: 0.6em;
    margin-top: 25px;
    font-weight: 200;
    cursor: pointer;
    -webkit-transition: margin-left 0.1s ease-in-out;
    -moz-transition: margin-left 0.1s ease-in-out;
    -ms-transition: margin-left 0.1s ease-in-out;
    -o-transition: margin-left 0.1s ease-in-out;
    transition: margin-left 0.1s ease-in-out;
    width: fit-content;
}

.info .text .subtext:hover {
    margin-left: 5px;
}

.info #text2,
.info #text4 {
    width: 70%;
}

@media screen and (min-width: 1200px) {
    .info .number {
        font-size: 420px;
    }
}

.info .flattener {
    width: 100%;
    background-color: #327ccb;
    height: 15%;
    margin-bottom: -110px;
    display: none;
}


@media (max-width: 1199px) {
    .info #blueBanner1 {
        height: 1300px;
    }
}


/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .info {
        margin: calc(100vh - 100px) auto 0;
    }

    .info #blueBanner1 {
        height: 1300px;
    }

    .info #blueBanner2 {
        height: 290px;
        margin-top: 300px;
    }

    .info .content {
        margin: -900px auto 0;
        padding: 0 3%;
    }

    .info .section {
        font-size: 0.7em;
        margin-bottom: 20px;
    }

    .info .number {
        font-size: 270px;
        line-height: 260px;
        margin-left: 1%;
    }

    .info .text {
        width: 70%;
    }

    .info #text2,
    .info #text4 {
        width: 60%;
    }
}

/* small */
@media (max-width: 767px) {
    .info {
        margin: calc(100vh - 100px) auto 0;
    }

    .info #blueBanner1 {
        height: 1300px;
    }

    .info #blueBanner2 {
        height: 290px;
        margin-top: 300px;
    }

    .info .content {
        margin: -880px auto 0;
        padding: 0 3%;
    }

    .info .section {
        font-size: 0.6em;
        margin-bottom: 20px;
    }

    .info .number {
        font-size: 270px;
        line-height: 260px;
        margin-left: 1%;
    }

    .info .text {
        width: 60%;
    }

    .info #text2,
    .info #text4 {
        width: 60%;
    }

    .info .text .subtext {
        font-size: 0.8em;
    }
}


/* mobile */
@media (max-width: 600px) {
    .info {
        margin: calc(100vh - 100px) auto 0;
    }

    .info #blueBanner1 {
        height: 1200px;
    }

    .info #blueBanner2 {
        height: 290px;
        margin-top: 300px;
    }

    .info .content {
        margin: -855px auto 0;
        padding: 0;
    }

    .info .section {
        margin-bottom: 90px;
        font-size: 0.7em;
    }

    .info .number {
        font-size: 230px;
        line-height: 200px;
        margin: 0;
    }

    .info .text {
        margin-left: 0;
        font-size: 0.7em;
    }

    .info #text2,
    .info #text4 {
        width: 60%;
    }
}