
.quickFacts {
    width: 100%;
    margin: calc(100vh - 70px) auto 0;
    position: absolute;
    z-index: 9999999;
    top: 0;
    color: white;
}

.quickFacts .content {
    width: 100%;
    max-width: 1200px;
    text-align: left;
    margin: 50px auto 0;
}

.quickFacts .tickerRates {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.quickFacts .exchangeRatesWrapper {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
}

.quickFacts .exchangeRatesWrapper span {
    line-height: 70px;
}

.quickFacts .bold {
    font-weight: 400;
}

.quickFacts .light {
    font-weight: 100;
}

.quickFacts .title {
    font-size: 3em;
    padding: 0 2%;
}

.quickFacts .factsList {
    /*text-align: center;
    width: calc(96%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 2%;*/
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
    text-align: left;
}

.quickFacts .factRow {
    width: 100%;
    display: inline-block;
    max-width: calc(600px - 2%);
}

.quickFacts .fact {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 25px;
    width: 100%;
}

.quickFacts .factsSectionOne {
    width: 50%;
    display: inline-block;
}

.quickFacts .factsSectionOne .fact {
    width: 100%;
}

.quickFacts .factsSectionTwo {
    width: 100%;
}

.quickFacts .factsSectionTwo .fact {
    width: 50%;
}

.quickFacts .videoWrapper {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.quickFacts .videoWrapperTop {
    display: none;
}

.quickFacts iFrame {
    border-radius: 5px;
    max-width: 90vw;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 4px -4px, rgba(0,0,0,0.3) 1px 1px 8px 0px;
}

@media (max-width: 1200px) {
    .quickFacts .factsList {
        display: inline-block;
        padding-top: 30px;
    }

    .quickFacts .videoWrapperTop {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .quickFacts .videoWrapper {
        display: none;
    }

    .quickFacts .factsSectionOne {
        width: 100%;
    }

    .quickFacts .factsSectionOne .fact {
        width: 50%;
    }
}

.quickFacts .factTitle {
    font-size: 1.6em;
    font-weight: 500;
}

.quickFacts .underline {
    width: 80px;
    height: 4px;
    background: white;
    margin-top: 10px;
}

.quickFacts .text {
    font-weight: 200;
    margin-top: 15px;
}

.quickFacts .icon {
    height: 170px;
    text-align: center;
    width: 30%;
    display: inline-block;
}

.quickFacts .iconInner {
    width: 100%;
}

.quickFacts img {
    max-height: 110px;
    max-width: 110px;
}

.quickFacts img.vehiclesImage {
    max-width: 170px;
}

.quickFacts .gold img {
    max-height: 220px;
    max-width: 220px;
    width: 150px;
}

.quickFacts .factDetails {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-top: -10px;
}

@media (max-width: 1075px) {
    .quickFacts .factsSectionOne,
    .quickFacts .factsSectionTwo {
        width: 100%;
        text-align: center;
    }

    .quickFacts .factsSectionOne .fact,
    .quickFacts .factsSectionTwo .fact {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .quickFacts .fact {
        margin: 0 6%;
    }
}

@media (max-width: 767px) {
    .quickFacts .exchangeRatesWrapper {
        display: none;
    }
}

@media (max-width: 700px) {
    .quickFacts .factsList {

    }
    
    .quickFacts .title {
        text-align: center;
        font-size: 2.5em;
    }

    .quickFacts .iconInner {
        width: 120px;
    }

    .quickFacts img {
        width: 100%;
    }

    .quickFacts .gold img {
        width: 120px;
    }

    /*.quickFacts .fact {
        margin: 0 5%;
        max-width: 190px;
    }

    .quickFacts .factTitle {
        font-size: 1.2em;
    }

    .quickFacts .text {
        font-size: 1em;
    }*/
}

@media (max-width: 600px) {
    .quickFacts img {
        max-height: 70px;
        max-width: 70px;
    }

    .quickFacts .text {
        font-size: 0.8em;
        font-weight: 300;
    }

    .quickFacts .factsSectionTwo {
        margin-top: 40px;
    }

    .quickFacts .fact {
        max-width: 38%;
        margin: 0 5%;
    }

    .quickFacts .icon {
        height: 100px;
        width: 100%;
    }

    .quickFacts .gold img {
        max-height: 140px;
        max-width: 140px;
        width: 100px;
    }

    .quickFacts .underline {
        width: 50px;
    }

    .quickFacts .factTitle {
        font-size: 1em;
    }

    .quickFacts img {
        max-height: 70px;
        max-width: 70px;
    }

    .quickFacts .iconInner {
        max-width: 120px;
    }

    .quickFacts .factDetails {
        width: 100%;
    }
}