
.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: left;
    padding: 14% 5% 0;
    height: calc(100vh - 18%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.headerInner {
    max-width: 1200px;
    margin: 0 auto;
}

.header .content {
    width: 80%;
    animation-duration: 1000ms !important;
    height: fit-content;/*40px;*/
    overflow: hidden;
    /*margin-bottom: 250px;*/
}

.header .contentInner {
    width: 300%;
    /*animation: cycleTitles 24s infinite;*/
}

/*@keyframes cycleTitles {
    0%, 32% {
        margin-left: 0;
    }
    34%, 65% {
        margin-left: -100%;
    }
    67%, 98% {
        margin-left: -200%;
    }
}*/

.header .content .contentSection {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    animation: cycleTitles 24s infinite;
}

.header .content .contentSection:nth-of-type(2) {
    margin-left: -33.3%;
    animation: cycleTitles 24s infinite;
    animation-delay: -16s;
}

.header .content .contentSection:nth-of-type(3) {
    margin-left: -33.3%;
    animation: cycleTitles 24s infinite;
    animation-delay: -8s;
}

/*.header .content .contentSection:nth-of-type(2) {
    animation: cycleTitles 24s infinite;
}

.header .content .contentSection:nth-of-type(3) {
    animation: cycleTitles 24s infinite;
}*/

@keyframes cycleTitles {
    0%, 32% {
        visibility: visible;
        transform: translateX(0);
    }
    34%, 65% {
        visibility: visible;
        transform: translateX(-100%);
    }
    66% {
        visibility: hidden;
        transform: translateX(-100%);
    }
    67%, 98% {
        visibility: hidden;
        transform: translateX(100%);
    }
    99% {
        visibility: visible;
        transform: translateX(100%);
    }
}

@media (min-width: 1200px) {
    .header .content {
        /*margin-bottom: 250px;*/
    }
}

.header .blue {
    color: var(--theme-color);
    font-weight: 600;
}

.header .learnMore {
    font-size: 0.5em;
    font-weight: 100;
    margin-top: 50px;
    animation-delay: 250ms !important;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.header .learnMore:hover {
    margin-top: 52px;
    margin-bottom: -2px;
}

.header .appButtonWrapper {
    width: 190px;
    overflow: hidden;
}


.header .appButton {
    color: white !important;
    background-color: #327ccb !important;
    font-size: 17px;
    font-weight: 200;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 8px -4px, rgba(0,0,0,0.5) 1px 1px 4px -4px;
    height: 45px;
    width: 190px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

.header .appButtonWrapper .appButton:nth-of-type(2) {
    margin-left: -100%;
    animation: cycleButton 24s infinite;
}

@keyframes cycleButton {
    0%, 32% {
        opacity: 0;
        visibility: hidden;
    }
    66% {
        opacity: 0;
        visibility: hidden;
    }
    67%, 98% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 1;
        visibility: visible;
    }
}

.header #bird {
    position: absolute;
}

.header #bird svg {
    transform: rotate(-20deg);
    width: 175%;
    height: auto;
    margin-left: -54%;
    margin-top: -57%;
    margin-bottom: -33%;
}

@media (min-width: 1200px) {
    .header #bird svg {
        margin-left: -34%;
    }
}

.header #bird svg g {
    fill: #327ccb;
    opacity: 0.10;
}

@media (max-width: 1025px) {
    .header .content {
        /*margin-bottom: 350px;*/
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .header {
        padding: 150px 5% 0;
    }

    .header #bird svg {
        width: 145%;
        margin-left: -38%;
        margin-top: -350px;
    }

    .header .content {
        /*margin-bottom: 350px;*/
    }

    .header .learnMore {

    }
}


/* mobile */
@media (max-width: 767px) {
    .header {
        font-size: 2.5em;
        height: 600px;
        padding: 5% 3% 0 3%;
        width: 94%;
    }

    .header #bird svg {
        width: 145%;
        margin-left: -30%;
        margin-bottom: 0;
        margin-top: -40%;
    }

    .header .content {
        width: 90%;
        margin: 20vh 0 25px;
    }

    .header .learnMore {
        width: 90%;
        margin: 50px 0 0;
    }

    .header .appButtonWrapper {
        width: 150px;
        margin-left: 20px;
    }

    .header .appButtonWrapper .appButton {
        width: 150px;
        font-size: 14px;
    }
}

@media (max-width: 646px) {
    .header .content {
        /*margin-bottom: 350px;*/
    }
}

/* mobile */
@media (max-width: 500px) {
    .header {
        font-size: 1.5em;
        height: 600px;
    }

    .header #bird svg {
        width: 145%;
        margin-left: -30%;
        margin-top: -150px;
        margin-bottom: 0;
    }

    .header .content {
        width: 90%;
        margin: 150px auto 30px;
    }

    .header .learnMore {
        width: 90%;
        margin: 50px auto 0;
    }
}