
.container {
  height: 60px;
  background: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.tempLogo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #38677F;
  width: 40px;
  height: 40px;
  margin: 10px;
  display: inline-block;
}

.name {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  line-height: 60px;
}

.appButtonWrapper {
  float: right;
}

.appButton {
  border: 2px solid #38677F;
  color: #38677F;
  background-color: white;
}