
.navbar {
    height: 60px;
    background: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding-top: 10px;
}

.navbar .content {
  max-width: 1200px;
    margin: 0 auto;
}

.navbar .tempLogo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px 13px 10px;
    display: inline-block;
}

.navbar .tempLogo svg {
    transform: rotate(-20deg);
    width: 70px;
    height: auto;
    margin-left: -14px;
    margin-top: -9px;
}

.navbar .tempLogo svg path {
    fill: #327ccb;
    height: 40px;
    width: 40px;
}

.navbar .name {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 60px;
    display: inline-block;
    vertical-align: top;
}

.navbar .appButtonWrapper {
  float: right;
}

.navbar .appButton {
    color: white !important;
    background-color: #327ccb !important;
    font-size: 18px;
    font-weight: 200;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 8px -4px, rgba(0,0,0,0.5) 1px 1px 4px -4px;
    height: 45px;
    width: 75px;
    margin-top: 9px;
}