.App {
  text-align: center;
    --theme-color: #327CCB; /* #4E9CB5 */
}

.App > .content {
  margin: 0 auto;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.language-selector {
    position: absolute;
    transform: rotate(-90deg);
    right: -20px;
    top: 120px;
    z-index: 999;
    cursor: pointer;
}

.language-selector img {
    width: 30px;
    margin-right: 8px;
    margin-bottom: -2px;
}

.language-selector a {
    text-decoration: none !important;
}