
.governance {
    padding-top: 100px;
    text-align: left;
}

.governance-inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.governance h2 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 1px;
}

.topSection {
    height: auto;
    max-width: 100vw;
    padding: 0 4%;
}

.topSection p {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 32px;
    width: 50%;
}

.governance a {
    text-decoration: none;
    color: #327ccb;
    font-weight: 600;
}

.governance .governanceGraphic {
    position: absolute;
    top: -15%;
    right: -15%;
    opacity: 0.4;
    width: 57%;
}

.governance .governanceGraphicTop {
    display: none;
}

.governance .governanceGraphic img {
    width: 100%;
    height: auto;
}

.highlight {
    color: #327ccb;
    font-weight: 600;
}

.governance .buttonText {
    color: white !important;
    background-color: #327ccb !important;
    font-size: 18px;
    font-weight: 200;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 8px -4px, rgba(0,0,0,0.5) 1px 1px 4px -4px;
    height: 45px;
    margin-top: 20px;
    padding: 6px 30px;
    margin-right: 10px;
}

.governance .buttonText.secondary {
    background-color: #8b9db1!important;
}

.underline {
    height: 4px;
    background: #327ccb;
    width: 110px;
}

.underline.large {
    margin-top: -30px;
    width: 150px;
    margin-bottom: 50px;
}

.bottomSection {
    background: linear-gradient(180deg,#327ccb, #4f94de 3%,#8bbbef 8%,#bdddff 12%,#deeeff 20%);
    transform: skewY(-5deg);
    margin-top: 100px;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,.5);
    height: auto;
    overflow: hidden;
    margin-bottom: -100px;
}

.bottomSection .governance-inner {
    transform: skewY(5deg);
    margin-top: 250px;
    padding-bottom: 200px;
}

.bottomSection .section {
    /*width: 92%;*/
    width: 100%;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    /*padding: 0 4%;*/
}

.bottomSection .section.right {
    flex-direction: row-reverse;
}

.bottomSection h3 {
    font-size: 2.7em;
    font-weight: 400;
    margin-bottom: 2px;
}

.bottomSection p {
    line-height: 160%;
    font-size: 18px;
    font-weight: 300;
}

.bottomSection > div > p:last-of-type {
    width: 60%;
    margin: 0 auto;
}

.bottomSection li {
    margin-bottom: 10px;
}

.governance .textWrapper {
    width: 60%;
    display: block;
}

.governance .imageWrapper {
    width: 40%;
    height: 400px;
    text-align: center;
}

.governance .imageWrapper img {
    height: 100%;
    max-width: 80%;
}

.governance .bottomLinkWrapper {
    text-align: center;
    margin-top: 60px;
}

.governance .bottomLinkText {
    display: inline-block;
}

.governance .bottomLinkText h2 {
    margin: 0;
}

.governance .bottomButtonWrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.governance .bottomButtonWrapper button {
    margin: 0 0 0 40px;
}

.governance #bird {
    margin-top: 30px;
    margin-left: -10%;
    margin-right: 10%;
}

.governance #bird svg {
    transform: rotate(-20deg);
    width: 100%;
    height: auto;
}

.governance #bird svg g {
    fill: #8796a4;
}

@media (max-width: 1296px) {
    .bottomSection .section {
        width: 92%;
        padding: 0 4%;
    }

    .governance .governanceGraphic {
        top: -10%;
    }
}

@media (max-width: 1050px) {
    .governance .governanceGraphic {
        top: -5%;
    }
}

@media (max-width: 900px) {
    .governance .governanceGraphic {
        top: 0;
    }
}

@media (max-width: 800px) {
    .governance .governanceGraphic {
        right: -25%;
        width: 70%;
    }
}

@media (max-width: 725px) {
    .governance .governanceGraphic {
        right: -35%;
        width: 80%;
        top: 10%;
    }

    .bottomSection > div > p:last-of-type {
        width: 92%;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .governance .governanceGraphic {
        right: -55%;
        width: 100%;
        top: 15%;
    }

    .governance .bottomLinkText {
        width: 100%;
    }

    .governance .bottomButtonWrapper button {
        margin: 0;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 550px) {
    .topSection p {
        width: 100%;
    }

    .governance .governanceGraphic {
        display: none;
    }

    .governance .governanceGraphicTop {
        display: block;
        width: 80%;
    }

    .governance .governanceGraphicTop img {
        display: block;
        width: 80%;
        opacity: 0.5;
        margin: 0 auto;
    }

    .bottomSection .section {
        flex-direction: column-reverse;
    }

    .bottomSection .section.right {
        flex-direction: column-reverse;
    }

    .governance .textWrapper,
    .governance .imageWrapper {
        width: 100%
    }

    .governance .imageWrapper {
        height: 250px;
    }
}